* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar-nav{
    align-items: center;
}

.navbar .navbar-nav .nav-link{
    padding: 0 1.1rem;
}

.nav-link:hover{
    transform: scale(1.2);
}