/* reset des paramètre des navigateur */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
}

/* style sur navbar */

.navbar-nav {
    align-items: center;
}

.navbar .navbar-nav .nav-link {
    padding: 0 1.1rem;
    padding: 10px;
}

.nav-link:hover {
    transform: scale(1.1);
}

/* footer */
.flexbox-social {
    list-style: none;
    display: flex;
    justify-content: center;
    
}

.flexbox-social li:hover {
    transform: scale(1.1);
}




.flexbox-social .social-item {
    color: black;
    margin: 0px 10px;
}