.container-title-video{
    position: relative;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    z-index: 1;
}
.container-video{
    position: absolute;
}

.title {
    text-transform: uppercase;;
    padding: 20px;
    z-index: 1;
    background: #0000001e;
    color:antiquewhite;
    animation: title-transition 3s forwards;
    backdrop-filter: blur(5px);
    
}

.title::after {
    content: "";
    width: 50%;
    height: 3px;
    background: antiquewhite;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%) scaleX(0);
    opacity: 0;
    animation: underline 5s forwards;
}

@keyframes underline {


    100% {
        transform: translateX(-50%) scaleX(1.5);
        opacity: 1;
    }
}

@keyframes title-transition {
    0% {
        transform: translateY(-100px);
        opacity: 0;

    }

    100% {
        transform: translateY(0);
    }
}

@media screen and (min-width: 975px){
    .container-body{
        min-width: 100%;
        display: flex;
        gap: 15px;
    }
    .first-article{
        width: 60%;
    }
    .body-card{
        width: 40%;
        padding: 0;
        margin: 0;
    
    }

}

@media screen and (min-width: 975px) {
    .title::after{
        display: none;
    }
}

.cuite-center::before,
.cuite-center::after{
    content: '"';
}

.body-card{
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.264);
}
/* ne pas oublier d'insérer une image dans la card en desktop pour réduire l'image */


/* portfolio de l'association  */
.portfolio-grid{
    min-width: 100vw,
}

.portfolio-item{
    pointer-events: none;
}

.portfolio-grid a img{
    width: 100%;
    padding:10px 0px
}
.photo-hover{
    display: none;
}



@media screen and (min-width:790px) {
    .portfolio-grid{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 300px 300px 300px;
        gap: 15px;
    }
    
    .portfolio-grid img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
    .portfolio-item{
        position: relative;
        pointer-events: auto;
    }
    
    .photo-hover{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.5em;
        color: white;
        background-color: rgba(0, 0, 0, 0.7);
        display: none;
    }
    
    .portfolio-item:hover .photo-hover{
        display: flex;
    }
}
